@import "../fonts/stylesheet.css";

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
p {
    margin: 0;
    background-color: #f2f3fa;
    font-family: "SF Pro Display";
    line-height: 1.2;
    font-weight: 400;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}
